{% extends "notifications/emails/base_email.html" %}

{% block content %}
    <h2 style="color: #28a745; margin-top: 0;">[FINANCEIRO] Comprovante Recebido</h2>
    <p>Equipe Financeira,</p>
    <p>O cliente <strong>{{ projeto.nomeTitular }}</strong> acaba de realizar o upload de um comprovante de pagamento no projeto <strong>{{ projeto.codigoCliente }}</strong>.</p>
    <p>Acesse o painel de documentos do projeto para realizar a conferência do valor e realizar a aprovação ou recusa do documento.</p>
{% endblock %}