{% extends "email/base_email.html" %}
{% load i18n %}

{% block subject %}✅ Pagamento Aprovado - {{ site_name }}{% endblock subject %}

{% block text_body %}
Olá {{ nome_titular }},
O seu comprovante de pagamento para o projeto {{ codigo_cliente }} foi analisado e aprovado com sucesso.
Acesse seu painel para ver mais detalhes: {{ frontend_url }}
{% endblock text_body %}

{% block content %}
    <h2>{% trans "Pagamento Confirmado!" %}</h2>
    <p>{% trans "Olá" %} <strong>{{ nome_titular }}</strong>,</p>
    
    <div class="success-box">
        <p style="margin:0;">O seu arquivo <strong>{{ tipo_documento }}</strong> para o projeto <strong>{{ codigo_cliente }}</strong> foi analisado e <strong>aprovado</strong> pela nossa equipe técnica.</p>
    </div>
    
    <div style="text-align: center;">
        <a href="{{ frontend_url }}" class="btn">Acessar Meu Painel</a>
    </div>
{% endblock content %}